// vim: textwidth=0

/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define SYM     1
#define NUM     2
#define CTL     3

&mt {
  tapping-term-ms = <120>;
  quick-tap-ms = <200>;
  flavor = "hold-preferred";
};

&lt {
  tapping-term-ms = <120>;
  quick-tap-ms = <200>;
  flavor = "balanced";
};

&caps_word {
  continue-list = <LSHIFT UNDERSCORE MINUS BSPC>;
};

/ {
  keymap {
    compatible = "zmk,keymap";

    base_layer {
      bindings = <
        // row 1
        &kp Q
        &kp W
        &kp F
        &kp P
        &kp B

        &kp J
        &kp L
        &kp U
        &kp Y
        &kp SQT

        // row 2
        &hl CTL A
        &hm LALT R
        &hm LGUI S
        &kp T
        &kp G

        &kp M
        &kp N
        &kp E
        &kp I
        &kp O

        // row 3
        &trans
        // &kp Z // dropped on 30-key

        &kp X
        &kp C
        &kp D
        &trans
        // &kp V // dropped on 30-key


        &trans
        // &kp K // dropped on 30-key
        &kp H
        &kp COMMA
        &kp DOT
        &trans
        // &kp SLASH // dropped on 30-key

        // row thumbs
        // TODO: feel like swapping CTRL <> SHIFT would be better, reason not to?
        &mt LCTRL ESC
        &mt LSHFT BSPC
        &lt SYM SPACE
        &lt NUM MINUS
      >;
    };

    sym_layer {
      bindings = <
        // row 1
        &kp EXCL
        &kp AT
        &kp HASH
        &kp DLLR
        &kp PRCNT

        &kp CARET
        &kp AMPS
        &kp STAR
        &kp PLUS
        &kp MINUS // TODO: consider swapping to /? if other binding no good

        // row 2
        &kp TILDE
        &kp GRAVE
        &macro_sqt
        &macro_dqt
        &morph_pipe

        &kp LEFT
        &kp DOWN
        &kp UP
        &kp RIGHT
        &kp SLASH

        // row 3
        &trans // dropped on 30-key
        &macro_bkt
        &macro_brc
        &macro_par
        &trans
        // &kp SEMI // dropped on 30-key

        &trans // dropped on 30-key
        &kp EQUAL
        &trans
        &trans
        &trans // dropped on 30-key


        // row thumbs
        &trans
        &trans
        &trans // being held
        &trans
      >;
    };

    num_layer {
      bindings = <
        // row 1
        &kp EXCL
        &kp AT
        &kp HASH
        &kp DLLR
        &kp PRCNT

        &kp CARET
        &kp AMPS
        &kp STAR
        &kp PLUS
        &kp MINUS

        // row 2
        &kp N1
        &kp N2
        &kp N3
        &kp N4
        &kp N5

        &kp N6
        &kp N7
        &kp N8
        &kp N9
        &kp N0

        // row 3
        &trans
        &trans
        &trans
        &trans
        &trans

        &trans
        &trans
        &trans
        &trans
        &trans

        // row thumbs
        &trans
        &trans
        &trans
        &trans
      >;
    };

    ctl_layer {
      bindings = <
        // row 1
        &bt BT_CLR
        &bt BT_SEL 0
        &bt BT_SEL 1
        &bt BT_SEL 2
        &bootloader

        &trans
        &trans
        &trans
        &trans
        &trans

        // row 2
        &trans
        &trans
        &macro_email
        &macro_secret
        &trans

        &trans
        &bt BT_PRV
        &bt BT_NXT
        &trans
        &trans

        // row 3
        &trans
        &trans
        &macro_email_2
        &macro_secret_2
        &trans

        &trans
        &trans
        &trans
        &trans
        &trans

        // row thumbs
        &trans
        &trans
        &trans
        &trans
      >;
    };
  };

  combos {
    compatible = "zmk,combos";
    // row 1
    combo_wf {
      timeout-ms = <50>;
      key-positions = <1 2>;
      bindings = <&kp LS(TAB)>;
    };
    combo_fp {
      timeout-ms = <50>;
      key-positions = <2 3>;
      bindings = <&kp TAB>;
    };
    combo_wp {
      timeout-ms = <50>;
      key-positions = <1 3>;
      bindings = <&kp LC(LS(LG(N4)))>; // screenshots
    };
    combo_wfp {
      timeout-ms = <50>;
      key-positions = <1 2 3>;
      bindings = <&kp DEL>;
    };
    combo_fb {
      timeout-ms = <25>;
      key-positions = <2 4>;
      bindings = <&kp C_PP>;
    };
    combo_ju {
      timeout-ms = <25>;
      key-positions = <5 7>;
      bindings = <&kp C_NEXT>;
    };
    combo_lu {
      timeout-ms = <20>;
      key-positions = <6 7>;
      bindings = <&kp LC(S)>;
    };
    combo_uy {
      timeout-ms = <20>;
      key-positions = <7 8>;
      bindings = <&kp UNDERSCORE>;
    };
    combo_luy {
      timeout-ms = <50>;
      key-positions = <6 7 8>;
      bindings = <&macro_goeql>;
    };

    // row 2
    combo_rs {
      timeout-ms = <15>;
      key-positions = <11 12>;
      bindings = <&kp LC(LS(LEFT))>;
    };
    combo_st {
      timeout-ms = <15>;
      key-positions = <12 13>;
      bindings = <&kp LC(LS(RIGHT))>;
    };
    combo_rst {
      timeout-ms = <30>;
      key-positions = <11 12 13>;
      bindings = <&kp LG(V)>;
    };
    combo_ne {
      timeout-ms = <20>;
      key-positions = <16 17>;
      bindings = <&kp ENTER>;
    };
    combo_ei {
      timeout-ms = <30>;
      key-positions = <17 18>;
      bindings = <&morph_colon>;
    };
    combo_nei {
      timeout-ms = <30>;
      key-positions = <16 17 18>;
      bindings = <&kp LS(V)>;
    };

    // row 3
    combo_xcd {
      timeout-ms = <50>;
      key-positions = <21 22 23>;
      bindings = <&kp LS(LG(V))>; // clipboard selection
    };

    // singles of each [{()}]
    combo_xc {
      timeout-ms = <50>;
      key-positions = <21 22>;
      bindings = <&kp LBKT>;
    };
    combo_xd {
      timeout-ms = <50>;
      key-positions = <21 23>;
      bindings = <&kp LBRC>;
    };
    combo_cd {
      timeout-ms = <50>;
      key-positions = <22 23>;
      bindings = <&kp LPAR>;
    };
    combo_h_comma {
      timeout-ms = <50>;
      key-positions = <26 27>;
      bindings = <&kp RPAR>;
    };
    combo_comma_dot {
      timeout-ms = <50>;
      key-positions = <27 28>;
      bindings = <&kp RBKT>;
    };
    combo_h_dot {
      timeout-ms = <50>;
      key-positions = <26 28>;
      bindings = <&kp RBRC>;
    };

    // TODO: I don't really use this, but maybe I should remember to?
    combo_h_comma_dot {
      timeout-ms = <50>;
      key-positions = <26 27 28>;
      bindings = <&caps_word>;
    };

    // resets
    // TODO: maybe drop these, prefer physical resets
    combo_zv {
      timeout-ms = <50>;
      key-positions = <20 24>;
      bindings = <&sys_reset>;
    };
    combo_k_slash {
      timeout-ms = <50>;
      key-positions = <25 29>;
      bindings = <&sys_reset>;
    };

    // diagonal combos
    // for interop with 30 key layouts
    // each points towards the missing char
    combo_xs {
      timeout-ms = <40>;
      key-positions = <21 12>;
      bindings = <&kp Z>;
    };
    // NOTE: it might be more ergonomic using index + middle
    combo_ct {
      timeout-ms = <40>;
      key-positions = <22 13>;
      bindings = <&kp Z>;
    };
    combo_sd {
      timeout-ms = <40>;
      key-positions = <12 23>;
      bindings = <&kp V>;
    };
    combo_he {
      timeout-ms = <40>;
      key-positions = <26 17>;
      bindings = <&kp K>;
    };
    combo_ncomma {
      timeout-ms = <40>;
      key-positions = <16 27>;
      bindings = <&kp SLASH>;
    };
    // TODO: consider mapping to ?
    combo_edot {
      timeout-ms = <40>;
      key-positions = <17 28>;
      bindings = <&kp SLASH>;
    };
  };

  macros {
    macro_secret: macro_secret {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      tap-ms = <30>;
      wait-ms = <10>;
      bindings = <&macro_tap &kp N &kp O &kp EXCL>;
    };
    macro_secret_2: macro_secret_2 {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      tap-ms = <30>;
      wait-ms = <10>;
      bindings = <&macro_tap &kp N &kp O &kp EXCL>;
    };
    macro_email: macro_email {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      tap-ms = <30>;
      wait-ms = <10>;
      bindings = <&macro_tap &kp N &kp O &kp EXCL>;
    };
    macro_email_2: macro_email_2 {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      tap-ms = <30>;
      wait-ms = <10>;
      bindings = <&macro_tap &kp N &kp O &kp EXCL>;
    };
    macro_than: macro_than {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      tap-ms = <30>;
      wait-ms = <10>;
      bindings = <&macro_tap &kp LT &kp GT &kp LEFT>;
    };
    macro_par: macro_par {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      tap-ms = <30>;
      wait-ms = <10>;
      bindings = <&macro_tap &kp LPAR &kp RPAR &kp LEFT>;
    };
    macro_par_out: macro_par_out {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      tap-ms = <30>;
      wait-ms = <10>;
      bindings = <&macro_tap &kp LPAR &kp RPAR>;
    };
    macro_brc: macro_brc {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      tap-ms = <30>;
      wait-ms = <10>;
      bindings = <&macro_tap &kp LBRC &kp RBRC &kp LEFT>;
    };
    macro_brc_out: macro_brc_out {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      tap-ms = <30>;
      wait-ms = <10>;
      bindings = <&macro_tap &kp LBRC &kp RBRC>;
    };
    macro_bkt: macro_bkt {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      tap-ms = <30>;
      wait-ms = <10>;
      bindings = <&macro_tap &kp LBKT &kp RBKT &kp LEFT>;
    };
    macro_bkt_out: macro_bkt_out {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      tap-ms = <30>;
      wait-ms = <10>;
      bindings = <&macro_tap &kp LBKT &kp RBKT>;
    };
    macro_sqt: macro_sqt {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      tap-ms = <30>;
      wait-ms = <10>;
      bindings = <&macro_tap &kp SQT &kp SQT &kp LEFT>;
    };
    macro_dqt: macro_dqt {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      tap-ms = <30>;
      wait-ms = <10>;
      bindings = <&macro_tap &kp DQT &kp DQT &kp LEFT>;
    };
    macro_goeql: macro_goeql {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      tap-ms = <30>;
      wait-ms = <10>;
      bindings = <&macro_tap &kp COLON &kp EQUAL>;
    };
  };

  behaviors {
    hm: homerow_mods {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <200>;
      quick-tap-ms = <200>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
    hl: homerow_layers {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <200>;
      quick-tap-ms = <200>;
      flavor = "tap-preferred";
      bindings = <&mo>, <&kp>;
    };
    morph_colon: morph_colon {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp COLON>, <&kp SEMI>;
      mods = <(MOD_LSFT)>;
    };
    morph_pipe: morph_pipe {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp PIPE>, <&kp BSLH>;
      mods = <(MOD_LSFT)>;
    };
    morph_copy_paste: morph_copy_paste {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp LG(C)>, <&kp LG(V)>;
      mods = <(MOD_LSFT)>;
    };
  };
};


// NOTE: My dir are setup like
// - ~/code/zmk
// - ~/code/zmk-config
#include <../../../zmk-config/config/dont_commit_me.dtsi>
// this file might include something like
// &macro_secret {
//   bindings = <&macro_tap &kp S &kp H &kp H>;
// };
